<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customstep>
            <general>
                <enable>1</enable>
                <step_label>Custom Checkout Step</step_label>
                <number_of_products>6</number_of_products>
            </general>
        </customstep>
    </default>
</config>
